---
import getReadingTime from 'reading-time';
import smartquotes from 'smartquotes';
import Layout from '@layouts/Base.astro';
import GradientBackground from '@components/GradientBackground.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { contactLinks } from '~/data/site';
import { getCollection } from 'astro:content';
import { getExcerpt } from '@build/projects';

export async function getStaticPaths() {
  const posts = await getCollection('blog', (p) => p.data.draft !== true);

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, date } = post.data;
const { Content } = await post.render();

const readingTime = getReadingTime(post.body);
const dateString = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'medium',
}).format(date);
---

<Layout title={title} description={getExcerpt(post)}>
  <div class="relative box-content h-32 pb-slope-border">
    <GradientBackground />
    <Header links={contactLinks} class="mb-[10vh] py-6" />
  </div>
  <main class="slope-border-t relative bg-gray-50 pb-8">
    <div class="content container relative mx-auto">
      <div
        class="prose prose-lg mx-auto text-gray-950 prose-headings:text-gray-900 prose-a:text-indigo-500 prose-a:duration-100 hover:prose-a:text-pink-500 marker:prose-li:text-pink-300"
      >
        <h1>{smartquotes(title)}</h1>
        <div
          class="absolute bottom-full whitespace-nowrap font-medium text-indigo-500"
        >
          <time datetime={date.toISOString()}>{dateString}</time> —
          <span>{readingTime.text}</span>
        </div>
        <Content />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
