---
import Layout from '@layouts/Base.astro';
import Header from '@components/Header.astro';
import PageHeader from '@components/PageHeader.astro';
import Project from '@components/ProjectPreview.astro';
import IconLink from '@components/IconLink.astro';
import { tags, getExcerpt } from '@data/projects';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

const contactLinks = [
  'https://github.com/dawaltconley',
  'https://www.linkedin.com/in/dawaltconley/',
];
---

<Layout title="My projects">
  <Header links={contactLinks} class="theme-brand" />
  <PageHeader
    tag="header"
    class="page-header flex flex-col font-serif"
    layerClass="title-heavy-shadow theme-brand"
    clipPath={[
      [0, 0.3],
      [0, 0],
      [1, 0],
      [1, 0.2],
      [0.78, 0.42],
      [0.58, 0.72],
      [0.18, 0.22],
    ]}
  >
    <h1
      class="container mx-auto mb-2 mt-auto text-7xl font-semibold leading-[0.85]"
    >
      Dylan Awalt-Conley
    </h1>
    <p class="container mx-auto mb-8 text-3xl font-medium">
      Some of my websites and JavaScript things.
    </p>
  </PageHeader>
  <main class="relative z-10 bg-theme-bg">
    <ul class="container mx-auto grid gap-4 py-8 sm:grid-cols-2 xl:grid-cols-3">
      {
        projects
          .filter((project) => project.data.image)
          .map(async (project) => (
            <Project project={project}>
              <p>{getExcerpt(project)}</p>
            </Project>
          ))
      }
    </ul>
  </main>
  <footer class="space-x-2 p-4">
    {
      Array.from(tags).map((tag) => (
        <IconLink id={tag} type="skill" inline={true} />
      ))
    }
  </footer>
</Layout>

<style lang="scss" is:global>
  .title-heavy-shadow {
    [data-color-scheme='light'] & * {
      text-shadow: 0.05em 0.05em 0px var(--theme-tx--base);
    }
    [data-color-scheme='dark'] & * {
      text-shadow: 0.05em 0.05em 0px var(--theme-bg--base);
    }
  }
</style>
