---
import Layout from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import PageHeader from '../components/PageHeader.astro';
import Project from '../components/ProjectPreview.astro';
import { getCollection } from 'astro:content';
import { tags, getExcerpt } from '../data/projects';

import IconLink from '../components/IconLink.astro';

const projects = await getCollection('projects');

const contactLinks = [
  'https://github.com/dawaltconley',
  'https://www.linkedin.com/in/dawaltconley/',
];
---

<Layout title="My projects">
  <Header links={contactLinks} class="theme-brand" />
  <PageHeader
    class="flex flex-col"
    layerClass="theme-brand"
    clipPath={[
      [0, 0.3],
      [0, 0],
      [1, 0],
      [1, 0.2],
      [0.78, 0.42],
      [0.58, 0.72],
      [0.18, 0.22],
    ]}
  >
    <header class="container mx-auto mt-auto mb-8 font-serif">
      <h1 class="mb-2 text-7xl font-semibold leading-[0.85]">
        Dylan Awalt-Conley
      </h1>
      <p class="text-3xl font-medium">
        Some of my websites and JavaScript things.
      </p>
    </header>
  </PageHeader>
  <main class="relative z-10 bg-theme-bg">
    <ul class="container mx-auto grid gap-4 py-8 sm:grid-cols-2 xl:grid-cols-3">
      {
        projects
          .filter((project) => project.data.image)
          .map(async (project) => (
            <Project project={project}>
              <p>{getExcerpt(project)}</p>
            </Project>
          ))
      }
    </ul>
  </main>
  <footer class="space-x-2 p-4">
    {
      Array.from(tags).map((tag) => (
        <IconLink id={tag} type="skill" inline={true} />
      ))
    }
  </footer>
</Layout>
