---
import type { IconLink, IconStyle } from '@data/icons';
import { icons, getIconFromUrl } from '@data/icons';
/* import FontAwesome from './FontAwesome.astro'; */

interface PropsBase extends Partial<Omit<IconLink, 'type'>> {
  type: keyof IconStyle;
  id?: keyof typeof icons;
  class?: string;
  inline?: boolean;
  urlText?: string;
  tag?: 'a' | 'span' | 'button' | 'div';
}

interface PropsId extends PropsBase {
  id: keyof typeof icons;
}

interface PropsUrl extends PropsBase {
  url: string;
}

export type Props = PropsId | PropsUrl;

const {
  id,
  type: iconStyle,
  class: className,
  inline = false,
  urlText,
  tag,
  ...iconProps
} = Astro.props;

let icon =
  id !== undefined ? icons[id] : iconProps.url && getIconFromUrl(iconProps.url);
if (!icon || !icon.type[iconStyle]) return;

icon = {
  ...icon,
  ...iconProps,
};

const IconWrapper = tag ?? icon.url ? 'a' : 'span';
const Icon = icon.type[iconStyle];
---

<IconWrapper href={icon.url} title={icon.name} class={className ?? ''}>
  <slot>
    <Icon
      class="iconify"
      data-icon={icon.type[iconStyle]}
      data-inline={inline.toString()}
    />
  </slot>
  {
    /*
    iconStyle === 'fa' ? (
      <FontAwesome
        icon={icon.type[iconStyle]}
        class="iconify"
        inline={inline}
      />
    ) : (
      <span
        class:list={['iconify', iconStyle.toString()]}
        data-icon={icon.type[iconStyle]}
        data-inline={inline.toString()}
      />
    )
    */
  }
  {icon.url && urlText && <span class="icon-url-text">{urlText}</span>}
</IconWrapper>

<style lang="scss">
  .iconify,
  .iconify-inline {
    width: 1em;
    width: var(--icon-size, 1em);
    height: 1em;
    height: var(--icon-size, 1em);
  }
  .iconify-inline,
  [data-inline='true'] {
    display: inline;
  }
  .icon-url-text {
    margin-left: 0.4em;
  }

  .skill {
    $skill-bg: #242938;
    $skill-radius: 0.22em;

    &[data-icon='logos:npm-icon'],
    &[data-icon='logos:aws-cloudformation'] {
      border-radius: $skill-radius;
    }
    &[data-icon='vscode-icons:file-type-nunjucks'] {
      border-radius: 0.3em;
    }
    &[data-icon='vscode-icons:file-type-jekyll'] {
      background-color: $skill-bg;
      padding: 0.08em;
      border-radius: $skill-radius;
    }
  }
</style>
